*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background: #8e8ed3;
    padding: 0 50 px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color:aquamarine;
    font-weight: 200;
}